/* Global Reset */
@font-face {
  font-family: 'MTSText';
  src: url('./assets/fonts/MTSText-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MTSText';
  src: url('./assets/fonts/MTSText-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MTSText';
  src: url('./assets/fonts/MTSText-Bold.woff2') format('woff2');
  font-weight: 600; /* and 700 */
  font-style: normal;
}

@font-face {
  font-family: 'MTSText';
  src: url('./assets/fonts/MTSText-Black.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

:root {
  /* MTS Brand Colors */
  --mts-red: #FF0032;
  --mts-black: #1D2023;
  --mts-gray: #F2F3F7;
  --mts-white: #FFFFFF;
  --mts-dark-gray: #6E7781;
  
  font-family: 'MTSText', 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--mts-black);
  background-color: var(--mts-gray);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--mts-gray);
  color: var(--mts-black);
}

#root {
  width: 100%;
  height: 100%;
}
